<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart Disease Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Enter Patient Information</h1>
   <form method="POST" action="/predict">
    <label>Age</label>
    <input type="number" name="Age" required>

    <label>Sex</label>
    <input type="number" name="Sex" required>

    <label>Chest Pain Type</label>
    <input type="number" name="ChestPainType" required>

    <label>Resting Blood Pressure</label>
    <input type="number" name="RestingBP" required>

    <label>Cholesterol</label>
    <input type="number" name="Cholesterol" required>

    <label>Fasting Blood Sugar</label>
    <input type="number" name="FastingBS" required>

    <label>Resting ECG</label>
    <input type="number" name="RestingECG" required>

    <label>Max Heart Rate</label>
    <input type="number" name="MaxHR" required>

    <label>Exercise Induced Angina</label>
    <input type="number" name="ExerciseAngina" required>

    <label>Oldpeak</label>
    <input type="number" name="Oldpeak" step="any" required>

    <label>Slope of ST Segment</label>
    <input type="number" name="ST_Slope" required>

    <input type="submit" value="Predict">
   </form>
</body>
</html>
